@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using blazorBookLibrary.Data

@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer<SharedResources> L
@inject IdentityRedirectManager RedirectManager

<PageTitle>@L["PersonalData"]</PageTitle>

<StatusMessage />
<h3>@L["PersonalData"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>@L["PersonalDataInfo"]</p>
        <p>
            <strong>@L["PersonalDataDeleteWarning"]</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">@L["Download"]</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">@L["Delete"]</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
